 * {
     box-sizing: border-box;
 }

.app {
    text-align: center;
}

.buttonsAndResult {
    background-color: green;
    margin: 0 auto;
}

.result {
    height: 20vh;
    background-color: white;
    border: .1px solid grey;
    font-size: 30px;
}

 @media screen and (min-width: 768px) and (max-width: 1023px) {
     .result {
         font-size: 50px;
     }
 }

 @media screen and (min-width: 1024px) and (max-width: 1279px){
     .result {
         font-size: 65px;
     }
 }

.result p {
    line-height: 20vh;
}

.buttons {
    height: 80vh;
    background-color: crimson;
    margin: 0 auto;
}

.singleButton {
    width: 25%;
    height: 20%;
    font-size: 35px;
    background-color: white;
}

 @media screen and (min-width: 768px) and (max-width: 1023px) {
     .singleButton {
         font-size: 50px;
     }
 }

 @media screen and (min-width: 1024px) and (max-width: 1279px) {
     .singleButton {
         font-size: 65px;
     }
 }

 button:hover, .singleButton:last-child:hover {
     color: white;
     background: -webkit-linear-gradient(top, #11610d, #0bdf00);
}

.singleButton:nth-child(1),  .singleButton:nth-child(2), .singleButton:nth-child(3), .singleButton:nth-child(4),
.singleButton:nth-child(8), .singleButton:nth-child(12),.singleButton:nth-child(16){
    color: #4682B4;
    background-color: #f0f0f0;
}

 .singleButton:nth-child(1):hover,  .singleButton:nth-child(2):hover, .singleButton:nth-child(3):hover, .singleButton:nth-child(4):hover,
 .singleButton:nth-child(8):hover, .singleButton:nth-child(12):hover,.singleButton:nth-child(16):hover {
     color: white;
 }

.singleButton:last-child {
    background-image: linear-gradient(to bottom, #05295c, #00357f, #0a3fa2, #2649c6, #4451e9);
    color: white;
}


