 * {
     box-sizing: border-box;
 }

.app {
    text-align: center;
    background-color: red;
}

.buttonsAndResult {
    background-color: green;
    margin: 0 auto;
}

.result {
    height: 20vh;
    background-color: orange;
}

.buttons {
    height: 80vh;
    background-color: crimson;
    margin: 0 auto;
}

.singleButton {
    width: 25%;
    height: 20%;
    font-size: 50px;



}


